@import './variables.scss';

.mazeContainer {
    width: 100%;
}

.upperContainer {
    width: 100%;
    float: left;
}

.bottomContainer {
    width: 100%;
    float: left;
    position: relative;
    height: 100px;
}

.maze {
    margin: 0 auto;
    border-right: $wallColor solid $wallThickness;
    border-bottom: $wallColor solid $wallThickness;
    background: $mazeBackground;
}

.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

