@import './variables.scss';

.mazeContainer {
    width: 100%;
}

.upperContainer {
    width: 100%;
    float: left;
    position: relative;
}

.bottomContainer {
    width: 100%;
    float: left;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
}

.maze {
    margin: 0 auto;
    border-right: $wallColor solid $wallThickness;
    border-bottom: $wallColor solid $wallThickness;
    background: $mazeBackground;
}

.playBtn {
    position: absolute;
}

