@import './variables';

.options-container {
    position: absolute;
    opacity: 0;
    transition: 2s opacity;

    .label-container {
        margin-left: 30px;
        display: inline-block;
    }

    label {
        margin-right: 10px;
        margin-left: 20px;
        font-size: 18px;
        color: $endPointColor;
        letter-spacing: 2px;
    }

    select {
        margin-right: 40px;
        padding: 5px ;
        width: 60px;
        text-align: center;
        font-size: 18px;
        border: $endPointColor solid 1px;
        color: $endPointColor;
    }
}